body {
    background-color: black;
    font-family: 'Monaco', monospace;
}

div {
    padding-top: 200px;
    margin: auto;
    width: 700px;
    height: 300px;
    display: stretch;
    text-align: center;
  }

h2 {
    color: gray;
}


a:link, a:visited {
    color: red;
    text-decoration: none;
    cursor: auto;
  }

a:hover {
    color: yellow;
}