body {
    background-color: black;
    font-family: 'Monaco', monospace;
}

div {
    margin: auto;
    text-align: center;
  }

.navbar {
  padding: none;
  color: white;
}

h1{
  padding-top: 200px;
}

h2 {
    padding-top: 170px;
    color: gray;
}

li {
  list-style: none;
}

a:link, a:visited {
    color: red;
    text-decoration: none;
    cursor: auto;
  }

a:hover {
    color: yellow;
}