body {
    background-color: black;
    font-family: 'Monaco', monospace;
}

div {
    padding-top: 200px;
    margin: auto;
    text-align: center;
  }

h2 {
    color: gray;
}

li {
  list-style: none;
}

a:link, a:visited {
    color: red;
    text-decoration: none;
    cursor: auto;
  }

a:hover {
    color: yellow;
}
