{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated%}
    <h1>{{ current_user.username.title() }}'s Pokémon Roster</h1>
    {% endif %}

    {% if savedPokes %}
    {% for x in savedPokes %}

    <div class="card" style="width: 18rem;">
        <img src="{{ x['front_shiny'] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ x['name'].title() }}</h5>
            <strong>Ability: {{ x['ability'] }}</strong>
            <li>HP: {{ x['hp'] }}</li>
            <li>ATK: {{ x['attack'] }}</li>
            <li>DEF: {{ x['defense'] }}</li>
        </div>
      </div>
        
    {% endfor %}
    {% endif %}

{% endblock %}