{% extends 'base.html' %}

{% block content %}
    {% for t in team %} 
    <!-- issue is that pokemon1 doesn't have the info we want to pull 
      from such as the name, stats, etc. -->
    <div class="card" style="width: 18rem;">
        <img src="{{ t.img_url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ t.name.title() }}</h5>
            <strong>Ability: {{ t.ability }}</strong>
            <li>HP: {{ t.hp }}</li>
            <li>ATK: {{ t.attack }}</li>
            <li>DEF: {{ t.defense }}</li>
        </div>
      </div>
    {% endfor %}
{% endblock %}